AJO_CREDENTIALS_FILE=/app/config/credentials.json
AJO_GENERATED_ENV_FILE=/app/.env.generated
AJO_BASE_URL=https://platform.adobe.io/ajo/content
AJO_IMS_TOKEN_URL=https://ims-na1.adobelogin.com/ims/token/v3
AJO_REQUEST_TIMEOUT_MS=60000
AJO_TOKEN_SKEW_SECONDS=60
AJO_OPENAPI_SPEC_PATH=./spec/content-api.yaml

AJO_SETTINGS_FILE=/app/config/settings.json
AJO_GENERATED_SETTINGS_ENV_FILE=/app/.env.settings
AJO_GENERATED_CREDENTIALS_ENV_FILE=/app/.env.credentials
